argparse==1.2.1
backports.ssl-match-hostname==3.5.0.1
click==6.6
prettytable==0.7.2
prompt-toolkit==1.0.3
requests==2.10.0
six==1.10.0
slackclient==1.0.0
wcwidth==0.1.6
websocket-client==0.37.0
wsgiref==0.1.2
pygments==2.1.3
